* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(21, 78, 134);
}

header {
    display: flex;
    justify-content: space-between;
    background-color:palegreen;
    border-top: solid black 3px;
    border-left: solid black 3px;
    border-right: solid black 3px;
    width: 100%;
}

h1 {
    margin-left: 20px;
    padding: 10px;
    background-color: lightblue;
    border-radius:20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    font-size: 15px;
}

p {
    /* border-left: black solid 5px;
    border-right: black solid 5px;
    border-top: black solid 5px;
    border-bottom: black solid 5px; */
    width: 500px;
}

nav li {
    display: flex;
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    justify-content: flex-end;
    position: relative;
}

section {
    margin-bottom: 100px;
}

section h2 {
    display: flex;
    width: 150px;
    border: black solid 3px;
}

.words {
    border-left: black solid 5px;
    width: 600px;
    padding-left: 20px;
}

.about-and-pic {
    align-content: right;
    padding-right: 20px;
    /* border: black solid 3px; */
        
}

.banner {
    border-right: black solid 3px;
    border-left: solid black 3px;
    border-bottom: solid black 3px;
    width: 100%;
}

.krystyn {
    border-radius: 30%;
    max-width: 150px;
}

.knowledge {
    border: solid black 3px;
    margin: 10px;
    width: 800px;
    position: relative;
}


 .scratchgames {
    border: solid black 3px;
    margin: 10px;
    position: relative;
    flex: 1;
}

.currentprojects {
    border: solid black 3px;
    margin: 10px;
    position: relative;
    flex: 1;
} 

.titles-for-content {
    position: absolute;
    bottom: 8px;
    left: 0px;
    background-color: black;
    color: white;
    padding: 10px;
}

.featuredcontent {
    height: 100;
    width: 100%;
}

.othercontent {
    height: 100%;
    width: 100%;
} 

.sidebyside {
    display: flex;
    /* border: black solid 3px; */
}